.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-main-div {
  height: 100vh;
  background-image: url(./SkiCollage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-title {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 80px;
  color: white;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}

.form-box1, .form-box2, .form-box3 {
  display: block;
  font-size: 20px;
  width: 100%;
  padding-bottom: 20px;
  padding-left: 10px;
  color: white;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}

.home-second-title {
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}
